{% extends "public/base.html" %}
{% load static %}
{% block content %}
    {% if request.user_agent.is_mobile %}
        <div class="text-center embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item mt-3" src="https://www.youtube.com/embed/efstAwLBMdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% else %}
        <div class="text-center embed-responsive embed-responsive-16by9 w-75 mx-auto">
            <iframe class="embed-responsive-item mt-3" src="https://www.youtube.com/embed/efstAwLBMdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endif %}
    <div class="about mt-4">
        <h3>What is Sail?</h3>
        <p class="mb-4">
            This year, Sail will be a two-day, hybrid event. Students will have the opportunity to brainstorm ideas for projects during the virtual IDEAthon on Friday. On Saturday, students will have the chance to attend classes taught by current students at UIUC and learn about different computer science topics, as well as life at UIUC.
        </p>

        <h3>How do I sign up?</h3>
        <p class="mb-4">
            Students can register and login by clicking the register button on the top right corner of the website. Please fill out the information so we can get to know you better!      
        </p>

        <h3>Who is Sail for?</h3>
        <p class="mb-4">
            This year, Sail will have activities for high school students, as well as their parents! We will have separate tracks for admitted students, non-admitted students, and parents.        
        </p>

        <h3>Will SAIL be virtual or in-person this year?</h3>
        <p class="mb-4">
            Friday, April 1st will be a virtual IDEAthon, and we will have a combination of virtual and in-person activities on Saturday, April 2nd. Students attending virtually will be at no disadvantage.
        </p>

        <h3>Is SAIL free to attend?</h3>
        <p class="mb-4">
            YES! And no worries, food will be provided!
        </p>

        <h3>Do I need prior coding experience?</h3>
        <p class="mb-4">
            You do not need to have experience. Sail is for students with all levels of experience! Beginners are welcome!
        </p>

        <h3>What is an IDEAthon?</h3>
        <p class="mb-4">
            The IDEAthon is a new addition to Sail this year! It is essentially the brainstorming that happens before a hackathon. In this event, participants will get the chance to collaborate with their peers virtually and come up with project ideas related to a given prompt. We know hackathons can feel scary and seem intimidating to newcomers, so we want the IDEAthon to be a place for students to ease into the hackathon experience!
        </p>

        <h3>Other questions?</h3>
        <p class="mb-4"> Please don’t hesitate to contact us at <a class="contact-us-link" target"_blank" href="mailto:cs-sail@lists.cs.illinois.edu">cs-sail@lists.cs.illinois.edu</a>. We’ll get back to you as soon as possible!</p>
    </div>
{% endblock content %}
