{% extends "public/base.html" %}
{% load static %}
{% block content %}
    <div class="text-center">
        {% if request.user_agent.is_mobile %}
            <h2>2019-2020 Sail Staff</h2>
            <img src="{% static 'public/staff_group_photo.png' %}" alt="Sail Staff Group Photo" class="w-100">
        {% else %}
            <h1>2019-2020 Sail Staff</h1>
            <img src="{% static 'public/staff_group_photo.png' %}" alt="Sail Staff Group Photo" class="w-50">
        {% endif %}
    </div>
    <div class="about mt-4d">
        <div class="text-left">
            <h3>Sadia Ahmed</h3>
            <p class="mb-4">
                Hi everybody! My name is Sadia and I am the director for Sail this year! I’m a junior in computer science, and have also been involved in Society of Women Engineers and am a freshman orientation leader for Women in Engineering. I also really enjoy eating sushi, drinking coffee, and collecting earrings. The Sail Staff team has worked extra hard this year to put on a great event, and we are so excited to see you there!
            </p>
            <img src="{% static 'public/Sadia_Ahmed.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-right">
            <h3>Varun Nair</h3>
            <p class="mb-4">
                Hey guys! I’m Varun and I’m a freshman and part of the logistics team here at Sail. Apart from Sail, I’m also involved in OTCR Consulting and ACM. I really enjoy watching movies (Ratatouille being one of my favorites), eating from new restaurants, and playing with LEGOs. I look forward to getting to know all of you at Sail 2021’s amazing event!
            </p>
            <img src="{% static 'public/Varun_Nair.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-left">
            <h3>Ariane Taraki</h3>
            <p class="mb-4">
                Hello! My name is Ariane Taraki and I am currently a staff member on the Sail 2021 Outreach team! I am a Sophomore majoring in Computer Science and Anthropology, and I am also the Outreach Chair for Women in Computer Science, an RSO on campus focused on spreading female-driven Computer Science education. I love watching rom-coms and hanging out with friends in my free time. Make sure to check out Sail to learn more about what CS at UIUC has to offer!
            </p>
            <img src="{% static 'public/Ariane_Taraki.jpg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-right">
            <h3>Hari Umesh</h3>
            <p class="mb-4">
                What’s up everyone! I’m Hari and I am a part of the outreach staff for Sail 2021! I’m a freshman Statistics & Computer Science student, and I am currently involved with Illini Stats Club as well. I’m a die-hard Lakers fan, but I recently completed a 1000 piece puzzle over the winter break! You can find me in the ARC either on the track or on the basketball courts! I’m super excited for Sail 2021 and look forward to seeing you all there!
            </p>
            <img src="{% static 'public/Hari_Umesh.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-left">
            <h3>Anjali Kumar</h3>
            <p class="mb-4">
                Hi y'all! Welcome to Sail! My name’s Anjali and I’m a freshman part of the website team. I’m studying computer science and am also part of HackIllinois, WCS, and SWE. I really like watching documentaries and mini-series on Netflix, meeting new people, and practicing music. I hope you enjoy this (virtual) experience and are as excited as we are to get this event started!        
            </p>
            <img src="{% static 'public/Anjali_Kumar.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-right">
            <h3>Daniel Moon</h3>
            <p class="mb-4">
                -- INSERT HERE --
            </p>
            <img src="{% static 'public/Daniel_Moon.jpg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-left">
            <h3>Aabha Vyas</h3>
            <p class="mb-4">
                Hi guys! My name is Aabha and I am a freshman studying Computer Science. This year I am on the design team for Sail 2021! I’m also involved in the professional business fraternity Alpha Kappa Psi on campus. I really enjoy going to music festivals, hiking and learning how to roll sushi. I am super excited to meet all of you at Sail’s virtual event!
            </p>
            <img src="{% static 'public/Aabha_Vyas.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-right">
            <h3>Salman Shaheen</h3>
            <p class="mb-4">
                Hello! My name is Salman, and I’m currently serving on the logistics team for Sail 2021! I’m a freshman studying Statistics and Computer Science, and I’m also involved in HackIllinois and Illinois Student Government. I’m passionate about STEM outreach, comics, and lots of caffeine. Looking forward to meeting you all in April!
            </p>
            <img src="{% static 'public/Salman_Shaheen.jpeg' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>

        <div class="text-left">
            <h3>Ayushi Singh</h3>
            <p class="mb-4">
                Hi everyone! My name is Ayushi, and I am the advisor for Sail 2021. Previously, I’ve been involved with Women in Computer Science, ACM, Reflections | Projections, Hackillinois, and Sail. Outside of school, I enjoy playing tennis, reading, and hiking. I look forward to meeting you all virtually at Sail 2021!        
            </p>
            <img src="{% static 'public/staff_group_photo.png' %}" alt="Sail Staff Group Photo" class="w-50">
        </div>
    </div>
{% endblock content %}
